@import url("static/css/form.css");

@import url("static/css/body.css");

@import url("static/css/button.css");

@import url("static/css/title.css");

@import url("static/css/sec_layer.css");

@import url("static/css/box.css");

@import url("static/css/quiz.css");


#riepilogo{
    width: 40vw;
    height: 50vh;
    background-color: red;
    opacity: 0.3;
    position: absolute;
}























