body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(0,63,255);
    background: linear-gradient(90deg, rgba(0,63,255,1) 0%, rgba(166,0,0,1) 100%);
}


.quiz{  /*Blocco generale interno*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 50vh;
    background: rgb(0,209,255);
    background: linear-gradient(90deg, rgba(0,209,255,0.500437675070028) 0%, rgba(187,86,0,1) 100%);
    border-radius: 20px;
}
.box{ /*Blocco button-domanda*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.boxDomanda{ /*Blocco domanda e form*/
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*Numero della domanda*/
.n_domanda{
    color: white;
    position: absolute;
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    margin-right: 5vw;
}


#avvio{  /*Button di avvios*/
    position: relative;
    width: 15vw;
    height: 7vh;
    z-index: 2;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    color: wheat;
    border: solid 2px wheat;
    background: linear-gradient(90deg, #4b6cb7, #182848);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
#avvio:hover {
  transform: translateY(-6px);
  color:white;
}



/*CSS form*/
form {
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
form input[type="submit"]:hover {
    background-color: #0056b3;
  }



/*Titolo*/
  #title{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
}


.boxPunteggio{
    margin-top: 3vh;
    color: wheat;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    border: solid 3px white;
    border-radius: 5px;
}