/*Titolo e domanda*/

#title{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 10vh;

    color: wheat;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
}
#question{
    font-size: 1.75vw;
}

@media (max-width: 760px) {
    #title{
        font-size: 10vw;
        padding-top: 10vw;
    }
    #question{
        font-size: 1.75vh;
    }
}